<!DOCTYPE html>
<html>
<head>
    <title>EV Battery Swap Locator</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>EV Battery Swap Station Locator</h1>
    <div id="filters">
        <input type="text" id="city" placeholder="Enter city">
        <input type="text" id="zip" placeholder="Enter zip code">
        <button onclick="fetchStations()">Search</button>
    </div>
    <div id="map"></div>

    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="/static/script.js"></script>
</body>
</html>
